@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.button {
    position: relative;
    display: inline-block;
    padding: 30px 61px;
    border-radius: 4px;
    color: #1565c0;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #1565c0;
    transition: all 0.1s linear;
    animation: bn53bounce 4s infinite;

    &:hover {
        border: 1px solid transparent;

        span {
            position: absolute;
            display: block;

            &:nth-child(1) {
                filter: hue-rotate(0deg);
                top: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, transparent, #3a86ff);
                animation: animate1 1s linear infinite;
            }

            @keyframes animate1 {
                0% {
                    left: -100%;
                }

                50%,
                100% {
                    left: 100%;
                }
            }

            &:nth-child(2) {
                filter: hue-rotate(60deg);
                top: -100%;
                right: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(180deg, transparent, #3a86ff);
                animation: animate2 1s linear infinite;
                animation-delay: 0.25s;
            }

            @keyframes animate2 {
                0% {
                    top: -100%;
                }

                50%,
                100% {
                    top: 100%;
                }
            }

            &:nth-child(3) {
                filter: hue-rotate(120deg);
                bottom: 0;
                right: 0;
                width: 100%;

                background: linear-gradient(270deg, transparent, #3a86ff);
                animation: animate3 1s linear infinite;
                animation-delay: 0.5s;
            }

            @keyframes animate3 {
                0% {
                    right: -100%;
                    height: 3px;
                }

                50%,
                100% {
                    height: 2px;
                    right: 100%;
                }
            }

            &:nth-child(4) {
                filter: hue-rotate(300deg);
                bottom: -100%;
                left: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(360deg, transparent, #3a86ff);
                animation: animate4 1s linear infinite;
                animation-delay: 0.75s;
            }

            @keyframes animate4 {
                0% {
                    bottom: -100%;
                }

                50%,
                100% {
                    bottom: 100%;
                }
            }

            @keyframes bn53bounce {
                5%,
                50% {
                  transform: scale(1);
                }
              
                10% {
                  transform: scale(1);
                }
              
                15% {
                  transform: scale(1);
                }
              
                20% {
                  transform: scale(1) rotate(-5deg);
                }
              
                25% {
                  transform: scale(1) rotate(5deg);
                }
              
                30% {
                  transform: scale(1) rotate(-3deg);
                }
              
                35% {
                  transform: scale(1) rotate(2deg);
                }
              
                40% {
                  transform: scale(1) rotate(0);
                }
              }
        }
    }
}

.active {
    animation: none;
}