.header {
    display: flex;
    justify-content: center;
    
    &__nav {
        display: flex;
        justify-content: space-between;
    }
}

.nav {
    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
    }

   
}